<nav class="nav--second">

</nav>
<div id="homepage">
<article class="homebox">
  <h3>Meet our Newest Rescue:</h3>
  <h3><%=@newest.name%></h3>
  <a href="/pets/<%=@newest.id%>"><img src="<%=@newest.image%>" alt="pet pic"></a>
</article>
<article class="homebox">
  <h3>Meet our Newest Rescue:</h3>
  <h3><%=@newest.name%></h3>
  <a href="/pets/<%=@newest.id%>"><img src="<%=@newest.image%>" alt="pet pic"></a>
</article>
<article class="homebox">
  <h3>Meet our Newest Rescue:</h3>
  <h3><%=@newest.name%></h3>
  <a href="/pets/<%=@newest.id%>"><img src="<%=@newest.image%>" alt="pet pic"></a>
</article>
</div>
