<nav class="nav--second">

</nav>

<h1>Edit <%=@pet.name()%>'s details</h1>

<%if @pet.status == "Adopted"%>
<p><%=@pet.name%> was already adopted and can't be edited</p>
<%else%>
<div class="form">
<form action="/pets/<%=@pet.id()%>" method="post">
<div>
  <label for="Name">Name</label>
  <input type="text" name="name" value="<%=@pet.name()%>"/>
</div>
<div>
  <label for="Type">Type</label>
  <select name="type">
    <option value="" selected disabled hidden>Select</option>
    <option value="Dog">Dog</option>
    <option value="Cat">Cat</option>
  </select>
</div>
<div>
  <label for="Breed">Breed</label>
  <input type="text" name="breed" value="<%=@pet.breed()%>"/>
</div>
<div>
  <label for="Age">Age</label>
  <input type="number" name="age" value="<%=@pet.age%>"/>
</div>
<div>
  <label for="Sex">Sex</label>
  <select name="sex">
    <option value="" selected disabled hidden>Select</option>
    <option value="Female">Female</option>
    <option value="Male">Male</option>
  </select>
</div>
<div>
  <label for="Image">Image URL</label>
  <input type="text" name="image" value="<%=@pet.image%>"/>
</div>
<div>
  <label for="admissionDate">Admission Date</label>
  <input type="date" name="admission_date" value="<%=@pet.admission_date()%>"/>
</div>
<div>
  <label for="Status">Status</label>
  <select name="status">
    <option value="" selected disabled hidden>Select</option>
    <option value="Recovering">In Hospital</option>
    <option value="In Training">In Training</option>
    <option value="Ready to Adopt">Ready to Adopt</option>
  </select>
</div>
<div>
  <label for="Animals">Are they good with other animals?</label>
  <select name="animal_friendly">
    <option value="" selected disabled hidden>Select</option>
    <option value="1">Yes</option>
    <option value="0">No</option>
  </select>
</div>
<div>
  <label for="Children">Are they safe around children?</label>
  <select name="child_friendly">
    <option value="" selected disabled hidden>Select</option>
    <option value="1">Yes</option>
    <option value="0">No</option>
  </select>
</div>
<div>
  <label for="Animals">Do they need extra training?</label>
  <select name="requires_training">
    <option value="" selected disabled hidden>Select</option>
    <option value="1">Yes</option>
    <option value="0">No</option>
  </select>
</div>
<div>
  <input type="submit" name="Enter"/>
</div>
</form>
</div>
<%end%>
