<h1>PETS</h1>

<a href="pets/new">Add New Pet</a>
<hr/>
  <p></p>
<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Breed</th>
    <th>Admission Date</th>
    <th>Status</th>
  </tr>
  <%for pet in @pets%>
    <%unless pet.status == "Adopted"%>
    <tr>
      <td><%=pet.name%></td>
      <td><%=pet.type%></td>
      <td><%=pet.breed%></td>
      <td><%=pet.admission_date%></td>
      <td><%=pet.status%></td>
      <div>
        <td><a href="#">Edit</a></td>
        <td><a href="#">Delete</a></td>
      </div>
    </tr>
    <%end%>
  <%end%>
</table>
