<article>
  <h1><%=@pet.name()%></h1>
  <p><%=@pet.name()%> is a <%=@pet.breed()%></p>
  <p>Admission Date: <%=@pet.admission_date%></p>
  <%if @pet.status == "Adopted"%>
    <p>Adopted</p>
  <%else%>
    <p><%=@pet.name%> is currently <%=@pet.status%></p>
  <%end%>
</article>

<!-- show adoption details -->
