<nav class="nav--second">
  <button class="button button--second"><a href="/pets/<%=@pet.id%>/edit">Edit <%=@pet.name%></a></button>
  <button class="button button--second"><a href="/pets/<%=@pet.id%>/delete">Delete <%=@pet.name%></a></button>
</nav>

<h1><%=@pet.name()%></h1>
<article>
  <div class="image">
    <img class="petPhoto"src="<%=@pet.image%>" alt="pet photo">
  </div>
  <div class="text">
  <p><%=@pet.name()%> is a <%=@pet.breed()%></p>
  <p>Admission Date: <%=@pet.admission_date%></p>
  <%if @pet.status == "Adopted"%>
    <p><%=@pet.name%> was adopted by <%=@pet.owner%></p>
  <%else%>
    <p><%=@pet.name%> is currently <%=@pet.status%></p>
  <%end%>
</div>
</article>
